@import '../../styles.scss';


@media (max-width: 1375px) {
    .ref-frame {
        width: 100%;
        padding-bottom: 1%;
    }
}

@media (max-width: 1200px) {

    .ref-up {
        font-size: 16px;
        margin-bottom: auto;
        padding-left: 5%;
        padding-right: 5%;
    }

    .partner {
        font-size: 16px;
    }
}

@media (max-width: 1000px) {

    .line-ref {
        width: 10%;
        min-width: 0;
        margin-top: 12px;
    }

    .ref-down {
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
    }

    .partner {
        margin-top: 12px;
    }
}

@media (max-width: 1000px) {
    .div-image-line {
        order: 1;
        width: 100%;
        margin-left: 65%;
    }

    .frame {
        position: absolute;
        left: 1vh;
        top: 35vh;
    }

    .reference-with-icon {
        margin-top: 50px;
        height: 75vh;
        justify-content: center;
    }

    .reference-with-image {
        flex-direction: column;
        margin-left: 5%;
        margin-right: 5%;
    }

    .ref-frame {
        order: 2;
        margin-top: 50px;
    }

    .line-to-image {
        width: 100%;
    }
}

@media (max-width: 800px) {
    .ref-frame {
        height: auto;
        margin-bottom: 25px;
    }

    .frame {
        display: none;
        top: 35vh;
    }

    .ref-down {
        width: 90%;
    }

    .div-image-line {
        margin-left: 60%;
    }

    .ref-up {
        margin-bottom: 25px;
    }

    .shadow-reference {
        top: -24vh;
        left: 66%;
    }

    .reference-with-image {
        margin-left: 5%;
        margin-right: 5%;
    }
}

@media (max-width: 700px) {
    .div-image-line {
        margin-left: 55%;
    }
}

@media (max-width: 580px) {
    .div-image-line {
        margin-left: 40%;
    }

    .reference-with-image {
        height: auto;
    }
}

@media (max-width: 580px) {
    .frame {
        top: 40vh;
    }
}

@media (max-width: 538px) {
    .frame {
        top: 38vh;
    }
}

@media (max-width: 500px) {

    .shadow-reference {
        top: -138px;
        left: 59%;
    }

    .line-ref {
        width: 25%;
    }

    .ref-image {
        width: 250px;
        height: 150px;
        top: 5px;
    }

    .div-image-line {
        margin-left: 60%;
    }
}

@media (max-width: 470px) {
    .frame {
        top: 38vh;
    }
}

@media (max-width: 430px) {

    .reference-with-icon {
        height: 62vh;
    }

    .reference {
        height: 90vh;
    }
}

@media (max-width: 400px) {

    .reference {
        height: 93vh;
    }
}

@media (max-width: 380px) {

    .ref-up {
        position: relative;
        z-index: 3;
    }

    .reference-with-image {
        justify-content: center;
    }

    .reference-with-icon {
        height: 100vh;
    }
}

@media (max-width: 375px) {
    .reference-with-icon {
        height: 81vh;
    }
}

@media (max-width: 360px) {
    .reference {
        height: 88vh;
    }

    .frame {
        top: 22vh;
    }
}