<div class="reference">
    <div class="reference-with-icon">
        <div class="reference-with-image">
            <div class="ref-frame">
                <div class="ref-up">
                    Samuel has proven to be an extremely reliable and solution-oriented colleague during our collaboration. With analytical thinking and initiative, Sam has adeptly tackled complex challenges and supported the team at critical moments.
                    Particularly noteworthy is Samuel's ability to quickly familiarize with new topics and work systematically towards the project goal.
                </div>
                
                <div class="ref-down">
                    <div class="line-ref"></div>
                    <div class="partner"><span>P. Ivan - Team Partner</span></div>
                </div>
            </div>
            <div class="ref-image"><img src="../../assets/images/paul.jpg" alt=""></div>
            <div class="line-to-image"></div>
        </div>
        <div class="switch">
                <img class="arrows arrow-left" src="../../assets/icons/arrow_back.png" alt="">
            <img class="small-dot" src="../../assets/icons/dot_green.png" alt="">
                <img class="arrows arrow-right" src="../../assets/icons/arrow_forward.png" alt="">
        </div>
    </div>
</div>
<img class="frame" src="../../assets/icons/frame.png" alt="">