<div class="section-references">
    <div class="reference">
        <div class="shadow-reference">
            <img src="../../assets/icons/31. Green shadow Skills Portfolio.png" alt="Shadow Background">
        </div>
        <div class="reference-with-icon">
            <img class="frame" src="../../assets/icons/frame.png" alt="">
            <div class="reference-with-image">
                <div class="ref-frame">
                    <div class="ref-up" i18n>
                        Samuel has proven to be an extremely reliable and solution-oriented colleague during our
                        collaboration.
                        With analytical thinking and initiative, Sam has adeptly tackled complex challenges and
                        supported
                        the team at critical moments.
                        Particularly noteworthy is Samuel's ability to quickly familiarize with new topics and work
                        systematically towards the project goal.
                    </div>
                    <div class="ref-down">
                        <div class="line-ref"></div>
                        <div class="partner"><span i18n>P. Ivan - Team Partner</span></div>
                    </div>
                </div>
                <div class="div-image-line">
                    <div class="ref-image"><img src="../../assets/images/paul.jpg" alt=""></div>
                    <div class="line-to-image"></div>
                </div>
            </div>
        </div>
    </div>
</div>