<div class="about-section" id="about">
    <div class="about section">
        <div class="row">
            <div class="column" data-aos="slide-right">
                <div i18n="headlineAboutMe|description: Überschrift für About Me Abschnitt" class="headline-about-me">
                    About me
                </div>
                <div i18n="aboutSection|description: Introtext über den Entwickler" class="about-text-inside-first">
                    Hi, I&apos;m a German-speaking Frontend Developer based near Hannover. Motivated by the limitless
                    opportunities within IT, I am excited about crafting visually captivating and intuitive websites and
                    applications.
                </div>
                <div class="about-text-position" data-aos="flip-right" data-aos-delay="500">
                    <div class="standard-size-img">
                        <img src="../../assets/icons/location.png" alt="Location icon">
                    </div>
                    <div i18n="aboutLocation|description: Text über Arbeitsstandorte und Remote-Arbeit"
                        class="about-text-inside">
                        Flexible in terms of working environments, I can work effectively around Celle to Brunswick or
                        Hannover and remotely.
                    </div>
                </div>
                <div class="about-text-position" data-aos="flip-left" data-aos-delay="700">
                    <div class="standard-size-img">
                        <img src="../../assets/icons/bulb.png" alt="Bulb icon">
                    </div>
                    <div i18n="aboutOpenMinded|description: Text über Offenheit und persönliche Herausforderungen"
                        class="about-text-inside">
                        I am open-minded and always looking for personal challenges to constantly improve my knowledge
                        and skills.
                    </div>
                </div>
                <div class="about-text-position" data-aos="flip-right" data-aos-delay="900">
                    <div class="standard-size-img">
                        <img src="../../assets/icons/puzzle.png" alt="Puzzle icon">
                    </div>
                    <div i18n="aboutProblemSolving|description: Text über Kreativität und Problemlösung in der Programmierung"
                        class="about-text-inside">
                        In my profession, programming isn't just about writing code; it's a creative form of
                        problem-solving. I take pride in my ability to distill complex technical challenges into simple,
                        user-friendly solutions. This way, I help you achieve your goals and bring your visions to life.
                    </div>
                </div>
            </div>
            <div data-aos="fade-left" data-aos-delay="1100" class="image-cut">
                <img src="../../assets/images/file3.png" alt="Developer illustration">
            </div>
            <div class="line-to-image"></div>
        </div>
        <div class="shadow-about-me">
            <img src="../../assets/icons/30. Purple shadow about me.png" alt="Decorative shadow">
        </div>
    </div>
</div>