@import '../../styles.scss';

.about-section {
    width: 100%;
    justify-content: center;
    display: flex;
}

.about {
    display: flex;
    justify-content: center;
    width: 100vw;
    min-height: 80vh;
    max-height: 100%;
    height: auto;
    font-family: 'Poppins', sans-serif;
    position: relative;
    color: white;
    max-width: 1440px;
    flex-direction: column;
    margin: 0;
    padding: 0;
    z-index: 4;
}

.headline-about-me {
    display: flex;
    max-width: 475px;
    width: auto;
    height: auto;
    font-weight: 700;
    font-size: clamp(60px, 6vw, 90px);
    line-height: clamp(72px, 7.2vw, 108px);
    margin-left: 100px;
    flex-direction: column;
}

.about-text-inside-first {
    display: flex;
    max-width: 475px;
    width: auto;
    font-weight: 400;
    font-size: clamp(14px, 1.6vw, 16px);
    margin-left: 100px;
    margin-bottom: 32px;
}

.standard-size-img {
    margin-top: 2%;
    display: flex;
    justify-content: center;
    width: 64px;
    height: auto;

    img {
        width: auto;
        height: 32px;
        transition: transform 0.125s ease;

        &:hover {
            transform: scale(1.4);
        }
    }
}


.about-text-position {
    display: flex;
    flex-direction: row;
    margin-left: 100px;
    margin-bottom: 16px;
}

.about-text-inside {
    display: flex;
    align-items: center;
    max-width: 407px;
    width: auto;
    height: auto;
    margin-left: 10px;
}

.image-cut {
    max-width: 453px;
    width: 453px;
    height: 453px;
    max-height: 453px;
    overflow: hidden;
    border-radius: 50%;
    position: relative;
    border: 4px solid $neongreen;
    margin-left: auto;
    z-index: 11;
    background-color: #141D2F;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: relative;
    }
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 12%;
}

.column {
    display: flex;
    flex-direction: column;
}

.section {
    position: relative;
    padding-top: 120px;
}

.line-to-image {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 4px;
    background-color: $toxicgreen;
}

.shadow-about-me {
    width: 572.03px;
    height: auto;
    position: absolute;
    transform: rotate(352.67deg);
    margin-left: 82%;
    margin-top: 2%;
}

@media (max-width: 950px) {
    .line-to-image {
        width: 9.54%;
    }
}

@media only screen and (max-width: 4096px) and (max-height: 2304px) {
    .about {
        min-height: 32vh;
        z-index: 6;
    }

    .shadow-about-me {
        margin-top: 5%;
    }

    .line-to-image {
        position: relative;
        z-index: 11;
        width: 100vw;
        margin-right: -98vw;
    }
}

@media only screen and (max-width: 3840px) and (max-height: 2160px) {
    .about {
        min-height: 32vh;
    }

    .shadow-about-me {
        margin-top: 1%;
    }

    .row {
        margin-top: 55px;
    }
}

@media only screen and (max-width: 2560px) and (max-height: 1440px) {
    .about {
        min-height: 32vh;
    }

    .shadow-about-me {
        margin-top: -5vh;
    }

    .row {
        margin-top: 55px;
    }
}

@media (max-width: 1440px) {
    .about-section {
        overflow: hidden;
    }

    .line-to-image {
        width: 5vw;
        margin-right: 0;
    }

    .about {
        overflow: hidden;
    }
}

@media only screen and (max-width: 1280px) and (max-height: 800px) {
    .row {
        margin-top: -1%;
    }

    .image-cut {
        margin-left: auto;
        max-width: 350px;
    }
}

@media only screen and (max-width: 1024px) and (max-height: 768px) {
    .row {
        margin-top: -1%;
    }

    .image-cut {
        margin-left: 50px;
        max-width: 300px;
    }
}

@media only screen and (max-width: 1024px) and (max-height: 600px) {
    .row {
        margin-top: -1%;
    }

    .image-cut {
        max-width: 300px;
    }
}

@media (max-width: 1200px) {
    .image-cut {
        width: 300px;
        height: 300px;
    }
}

@media (max-width: 1000px) {
    .image-cut {
        width: 250px;
        height: 250px;
    }
}

@media (max-width: 900px) {
    .image-cut {
        width: 200px;
        height: 200px;
    }
}

@media (max-width: 800px) {

    .about {
        margin-top: 8%;
        align-items: center;
    }

    .image-cut,
    .line-to-image {
        display: none;
    }

    .shadow-about-me {
        margin-left: 100%;
        margin-top: -19%;
    }

    .about-text-inside,
    .about-text-inside-first,
    .headline-about-me,
    .about-text-position {
        position: relative;
        z-index: 1;
        margin-left: 15%;
    }
}

@media (max-width: 500px) {

    .about {
        height: 82vh;
        margin-top: 51%;
    }

    .column {
        height: calc(100vh + 129.03px);
    }

    .about-text-inside,
    .headline-about-me,
    .about-text-position,
    .about-text-inside-first {
        margin-left: 8%;
        margin-right: 8%;
        font-size: 14px;
    }

    .headline-about-me {
        margin-top: 10%;
        font-size: clamp(30px, 4vw, 45px);
        line-height: clamp(36px, 5vw, 54px);
    }
}

@media (max-width: 320px) {
    .column {
        height: 79vh;
    }

    .shadow-about-me {
        margin-left: 72%;
        margin-top: -6%;
        width: 200px;
    }
}