@import '../../styles.scss';

@media (max-width: 1100px) {

    .index {
        width: 463px;
        top: -1vh;
    }

    .index-2 {
        margin-top: 4%;
    }

    .column {
        margin-right: 50px;
        margin-top: 6%;
    }

    .hero-text {
        width: 100% !important;
        height: 100px !important;

        .intro {
            width: 100px !important;
            height: 30px !important;
        }

        .intro p {
            font-weight: 400;
            font-size: 32px !important;
            line-height: 32px !important;
            margin-bottom: -29px !important;
            margin-left: -21px !important;
        }

        .name-title {
            width: 450px !important;
            height: 50px !important;
        }

        .subtitle {
            width: 450px !important;
            height: 50px !important;
        }

        .name {
            height: 50px !important;
            width: 450px !important;
            height: 50px !important;
        }

        .name h1 {
            font-weight: 700 !important;
            font-size: 44px !important;
            line-height: 44px !important;
        }

        .subtitle span {
            font-weight: 700 !important;
            font-size: 37px !important;
            line-height: 40px !important;
        }
    }
}

@media (min-width: 801px) and (max-width: 916px) {
    .index {
        width: 412px;
        top: -4vh;
    }

    .index-2 {
        margin-top: 3%;
    }
}

@media (max-width: 800px) {
    .hero-section {
        overflow: hidden;
    }

    .first-section {
        height: calc(100vh - 109.03px);
    }

    .line {
        width: 35%;
    }

    .column {
        margin-top: -10vh;
        display: flex;
    }

    .mail {
        display: none;
    }

    .hero {
        display: flex;
        flex-direction: column;
    }

    .position {
        display: none;
    }

    .hero-background {
        width: 500px;
        margin-left: -8vh;
        top: 14vh;

        .photo-shadow {
            width: 100%;
            height: auto;
            margin-left: 10%;
        }
    }

    .hero-background2 {
        top: 68px;
        width: 100%;
    }

    .index {
        display: flex;
        justify-content: center;
        position: relative;
        top: -4vh;
        width: auto;
        height: 550px;
        margin-left: 0;
    }

    .column {
        position: relative;
        width: 100vw;
        justify-content: center !important;
        top: -40px;
    }

    .index-2 {
        margin-left: -100px;
        margin-top: 23%;
    }

    .hero-text {
        display: flex;
        justify-content: center !important;
        width: 100% !important;
        height: 100px !important;

        .intro {
            width: 100px !important;
            height: 30px !important;
            margin-bottom: -56px;
            margin-top: -5px;
        }

        .intro p {
            height: 1px !important;
            font-weight: 400 !important;
            font-size: 32px !important;
            line-height: 32px !important;
            justify-content: center !important;
            margin-bottom: 20px !important;
            margin-left: 1px;
        }

        .name-title {
            width: 450px;
            height: 50px !important;
        }

        .subtitle {
            width: 450px !important;
            height: 50px;
        }

        .name {
            height: 50px;
            width: 450px !important;
            height: 50px !important;
        }

        .name h1 {
            font-weight: 700 !important;
            font-size: 44px !important;
            line-height: 44px !important;
        }

        .subtitle span {
            font-weight: 700 !important;
            font-size: 37px !important;
            line-height: 40px !important;
        }
    }

    .ref {
        position: relative !important;
        margin-right: 11%;
        width: 100%;
    }

    .ref-scroll {
        display: flex;
        margin-top: 0;
    }

    .button {
        display: flex;
        width: 100%;
        margin-top: 45px;
    }

    .above-talk {
        width: auto;
    }
}

@media (max-width: 620px) {

    .index {
        top: -4vh;
        width: 400px;
        height: auto;
    }

    .hero-text {
        margin-left: 5%;

        .intro {
            width: 100px !important;
            height: 30px !important;
            margin-bottom: -42px;
            margin-right: -10px;
        }

        .intro p {
            height: 1px !important;
            font-weight: 400 !important;
            font-size: 23px !important;
            line-height: 26px !important;
            justify-content: center !important;
            margin-bottom: 1px !important;
            margin-left: 12px;
        }

        .name-title {
            width: 350px;
            height: 40px !important;
        }

        .subtitle {
            width: 350px !important;
            height: 40px;
        }

        .name {
            height: 30px;
            width: 350px !important;
            height: 40px !important;
        }

        .name h1 {
            font-weight: 700 !important;
            font-size: 32px !important;
            line-height: 32px !important;
        }

        .subtitle span {
            font-weight: 700 !important;
            font-size: 26.8px !important;
            line-height: 26px !important;
        }
    }

    .column {
        display: flex;
        justify-content: center;
        margin-left: 7%;
        margin-top: -3vh;
    }

    .button {
        margin-top: 3%;
    }
}

@media (min-width: 400px) and (max-width: 480px) {

    .index {
        margin-top: 0%;
        width: 350px;
    }

    .index-2 {
        margin-top: 58%;
    }

    .button {
        margin-left: 5%;
    }

    .hero-text {
        .intro {
            margin-top: -6px;
        }
    }

    .line {
        width: 20%;
    }

    .ref {
        margin-right: 16%;
    }

    .button {
        margin-left: 5%;
    }

    .column {
        margin-left: 1%;
        margin-top: -6vh;
    }

    .hero-background {
        .photo-shadow {
            margin-left: 15%;
        }
    }
}

@media (min-width: 361px) and (max-width: 399px) {

    .index {
        top: -4vh;
    }

    .hero-text {
        margin-left: 0;
    }

    .column {
        margin-top: -12vh;
    }

    .hero-background {
        width: 500px;
        top: 14vh;
    }

    .index-2 {
        margin-top: 80%;
    }
}

@media (max-width: 360px) {

    .index-2 {
        margin-top: 4vh;
    }

    .index {
        top: -3vh;
    }

    .column {
        margin-top: -9vh;
        margin-left: 0;
    }

    .above-talk {
        margin-left: 45px;
    }

    .hero-text {
        .intro {
            margin-bottom: -41px;
            margin-right: -13px;
        }
    }
}

@media (max-width: 320px) {
    .index {
        top: -2vh;
        width: 347px;
    }

    .index-2 {
        margin-top: 0vh;
    }

    .hero-desktop {
        height: 76vh;
    }

    .hero-background {
        width: 500px;
    }

    .column {
        margin-top: -5vh;
    }
}