@import '../../styles.scss';

.hero-section {
    width: 100%;
    display: flex;
    justify-content: center;
}

.hero-desktop {
    position: relative;
    display: flex;
    justify-content: center;
    height: calc(100vh - 109.03px);
    max-height: calc(100vh - 109.03px);
    display: flex;
    width: 100vw;
    max-width: 1440px;
    flex-direction: column;
}

.button {
    display: flex;
    justify-content: center;
    margin-top: 32px;
    margin-right: -10%;
}

.hero-mobile {
    display: block;
}

.photo-shadow {
    position: relative;
    width: 790px;
    max-width: 780px;
    margin-left: -70%;
    margin-top: -14vh;

    img {
        width: 690px;
        height: auto;
    }
}

.index-2 {
    margin-left: -22vw;
    position: relative;
    width: 144vw;
    height: auto;
    z-index: 5;
    margin-top: -30%;
}

.index {
    position: absolute;
    width: 513px;
    height: auto;
    top: -3vh;
}

a {
    text-decoration: none;
    cursor: pointer;
}

.hero-background,
.hero-background2 {
    position: absolute;
    top: 177.6px;
    width: 100vw;
    max-width: 1440px;
}

.column {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-left: auto;
    margin-top: 0;
    margin-right: 120px;
    z-index: 6;
}

.hero {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1440px;

    .hero-text {
        display: flex;
        flex-direction: row;
        width: 718px;
        height: 170px;
        align-items: center;

        .intro {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 152px;
            height: 63px;
            transform: rotate(270deg);

            p {
                display: flex;
                justify-content: flex-start;
                width: 152px;
                height: 63px;
                font-family: 'Poppins', sans-serif;
                font-weight: 400;
                font-size: 58px;
                line-height: 69.6px;
                color: white;
                margin-bottom: 32px;
                margin-left: -14px;
            }
        }

        .name-title {
            display: flex;
            flex-direction: column;
            gap: 10px;

            .name {
                width: 620px;
                height: 108px;

                h1 {
                    font-family: 'Poppins', sans-serif;
                    font-weight: 700;
                    font-size: 66.3px;
                    line-height: 108px;
                    color: white;
                    margin-top: 20px;
                }
            }

            .subtitle {
                width: 619px;
                height: 70px;

                span {
                    font-family: 'Poppins', sans-serif;
                    font-weight: 400;
                    font-size: 58px;
                    line-height: 69.6px;
                    color: #9747ff;
                }
            }
        }
    }
}

button {
    width: 165px;
    border-radius: 10px;
    border-width: 0px;
    height: 58px;
    background-color: $neongreen;
    transition: transform 125ms ease, background-color 125ms ease;
    transform-origin: top center;

    &:hover {
        cursor: pointer;
        transform: scale(1.15, 1.11);
        background-color: $purple;
    }

    .talk {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 162px;
        height: 28px;
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
        font-size: 23px;
        line-height: 27.6px;
        color: white;
    }
}

.above-talk {
    position: relative;
}

.mail {
    font-family: 'Poppins', sans-serif;
    color: white;
    width: auto;
    font-weight: 400;
    font-size: 23px;
    line-height: 27.6px;
}

.ref {
    display: flex;
    justify-content: space-between;
    max-width: 1340px;
    align-items: center;
    gap: 16px;
}

.line {
    display: flex;
    width: 25vw;
    margin-left: -20vw;
    height: 4px;
    background-color: $purple;
}

.icons {
    display: inline-flex;
    align-items: center;
    transition: width 0.125s ease;
}

.icons img {
    width: 32px;
    height: 32px;
    transition: transform 0.125s ease;
    transform-origin: left center;
}

.icons:hover img {
    transform: scale(1.4);
}

.position {
    display: flex;
    width: 100%;
    max-width: 307px;
    height: 100%;
    display: flex;
    justify-content: flex-end;
}

.ref-scroll {
    max-width: 1440px;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
    z-index: 10;
    background-color: transparent;
    margin-top: 30%;
}

.scroll {
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    transform: rotate(90deg);
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 23px;
    line-height: 27.6px;
    margin-bottom: 43%;

    img {
        width: 32px;
        transform: rotate(-90deg);
    }
}

.hero-background {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 1440px;
    height: auto;

    .photo-shadow {
        width: 100%;
        height: auto;
        max-width: 780px;
    }
}