<div class="hero-desktop">

    <div class="hero">
        <div class="hero-background">
            <img class="photo-shadow" src="../../assets/icons/29. photo shadows.png" alt="">
        </div>
        <img class="index" src="assets/images/file.png" alt="Samuel Zacharias">
        <div class="hero-background2"><img class="index-2" src="assets/icons/28. Hero Background.png" alt=""></div>
        <div class="column">
            <div class="hero-text">
                <div class="intro">
                    <p>I am</p>
                </div>
                <div class="name-title">
                    <div class="name">
                        <h1>Samuel Zacharias</h1>
                    </div>
                    <div class="subtitle">
                        <span>FRONTEND DEVELOPER</span>
                    </div>
                </div>
            </div>
            <a href="#contact" class="button"><button class="above-talk">
                    <span class="talk">Let's talk!</span>
                </button></a>
        </div>
    </div>
</div>
<div class="ref-scroll">
    <div class="ref">
        <div class="line"></div>
        <div class="icons"><a href="https://github.com/SamuelZacharias"><img src="../../assets/icons/github.png"
                    alt=""></a></div>
        <div class="icons"><a href="mailto:info@samuelzacharias.com"><img src="../../assets/icons/email.png" alt=""></a>
        </div>
        <div class="icons"><a href="https://www.linkedin.com/in/sam-zacharias-5458a7337/"><img
                    src="../../assets/icons/linked.png" alt=""></a></div>
        <a href="mailto:info@samuelzacharias.com" [style.cursor]="'pointer'">
            <div class="mail">info&#64;samuelzacharias.com</div>
        </a>
    </div>
    <div class="position">
        <div class="scroll">Scroll down <img src="../../assets/icons/arrow-down-line.png" alt=""></div>
    </div>
</div>