@import '../../styles.scss';

@media (max-width: 500px) {
    .index-2 {
        margin-top: 55%;
    }

    .index {
        top: 1vh;
    }

    .ref-scroll {
        margin-top: -25px;
    }
}

@media (max-width: 480px) {
    .index-2 {
        margin-top: 33vh;
    }
}

@media only screen and (min-width: 480px) and (max-width: 480x) and (min-height: 896px) and (max-height: 896px) {

    .column {
        margin-left: 1%;
        margin-top: -6vh;
    }
}

@media only screen and (min-width: 360px) and (max-width: 360x) and (min-height: 768px) and (max-height: 768px) {
    
    .column {
        margin-top: -13vh;
    }

    .index-2 {
        margin-top: -11vh;
    }

    .index {
        top: -5vh;
        width: 352px;
    }
}