@import '../../styles.scss';

@media only screen and (max-width: 4096px) and (max-height: 2304px) {
    .contact {
        height: 35vh;
    }

    .contact {
        .position-headline {
            .contact-line {
                width: 52vw;
                margin-right: 32px;
                margin-left: -39vw;
            }
        }
    }
}

@media only screen and (max-width: 3840px) and (max-height: 2160px) {
    .contact {
        height: 37vh;
    }
}

@media only screen and (max-width: 2560px) and (max-height: 1440px) {
    .contact {
        height: fit-content;
    }
}

@media only screen and (max-width: 1920px) and (max-height: 1200px) {
    .contact {
        height: 100vh;
    }
}

@media only screen and (max-width: 1440px) and (max-height: 900px) {
    .section-contact {
        overflow: hidden;
    }
}

@media only screen and (max-width: 1366px) and (max-height: 768px) {
    .contact {
        height: calc(100vh + 29.03px);
    }
}

@media only screen and (max-width: 1280px) and (max-height: 800px) {
    .contact {
        height: fit-content;
    }
}

@media only screen and (max-width: 1024px) and (max-height: 768px) {
    .contact {
        height: calc(100vh + 229.03px);
    }
}

@media only screen and (max-width: 1024px) and (max-height: 768px) {
    .contact {
        height: calc(100vh + 59.03px);
    }
}

@media only screen and (max-width: 1024px) and (max-height: 600px) {
    .contact {
        height: calc(100vh + 209.03px);
    }
}

@media (max-width: 1000px) {
    .contact {
        height: calc(100vh + 209.03px);
        margin-left: 0;
        padding: 0;

        .under-headline-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-left: 0;
            margin-right: 0;

            .under-headline {
                margin-left: -10%;
            }

            .contact-form {
                margin: 0;
            }
        }
    }

    .confirmation-message {
        right: 30%;
    }
}

@media (max-width: 800px) {
    .contact {

        height: calc(100vh + 219.03px);

        .under-headline-container {
            margin-left: 0;
            margin-right: 3%;

            .contact-form {
                margin: 0;
            }

            .under-headline {
                height: auto;
                margin-right: 0;
                margin-left: 0;
            }
        }
    }
}

@media (max-width: 768px) {
    .contact {
        .contact-shadow {
            left: -41vh;
            top: -30vh;
        }
    }
}

@media (max-width: 500px) {

    .contact {

        height: calc(100vh + 219.03px);

        .arrow-up {
            margin-right: 5%;
        }

        .position-headline {
            margin-bottom: 0;

            .contact-headline {
                font-size: 45px;
                margin-left: 0;
            }
        }
    }

    .contact {
        .position-headline {
            .contact-line {
                margin-right: 10px;
                width: 5%;
                margin-left: 0;
            }
        }
    }

    .contact {
        .under-headline-container {
            .under-headline {
                .position-under-headline {
                    .problem {
                        font-size: 23px;
                    }
                }
            }
        }
    }
}

@media (max-width: 425px) {
    .contact {
        .contact-shadow {
            left: -41vh;
            top: -30vh;
        }
    }
}

@media (max-width: 400px) {

    .contact {
        height: calc(100vh + 359.03px);
    }
}

@media (max-width: 375px) {
    .contact {
        .contact-shadow {
            left: -41vh;
            top: -30vh;
        }
    }
}

@media (max-width: 320px) {
    .contact {
        .contact-shadow {
            left: -41vh;
            top: -30vh;
        }
    }
}