<div class="section-contact" id="contact">
    <div class="contact">
        <div class="position-headline">
            <div class="contact-line"></div>
            <div class="contact-headline" i18n>Contact</div>
        </div>
        <div class="under-headline-container">
            <div class="under-headline">
                <div class="position-under-headline" data-aos="slide-right">
                    <div i18n class="problem">Got a problem to solve?</div>
                    <div i18n class="under-problem">
                        Contact me through this form, I am interested in hearing from you, knowing your ideas and
                        contributing to your projects with my work.
                    </div>
                    <div i18n>Need a Frontend developer? Contact me!</div>
                </div>
            </div>
            <form [formGroup]="contactForm" (ngSubmit)="onSubmit()" class="contact-form" data-aos="zoom-in-up">
                <div class="name">
                    <input type="text" placeholder="Your Name" formControlName="name"
                        [ngClass]="{'valid-border': name?.valid && name?.touched, 'error-border': name?.invalid && name?.touched}"
                        [ngStyle]="{'border-color': name?.invalid && name?.touched ? 'red' : null}">
                    <img *ngIf="name?.touched"
                        [src]="name?.valid ? '../../assets/icons/check.png' : '../../assets/icons/error.png'"
                        alt="Validation Icon" class="valid-icon">
                    <div *ngIf="name?.invalid && name?.touched" class="error">
                        <small *ngIf="name?.errors?.['required']" i18n>Your name is required.</small>
                        <small *ngIf="name?.errors?.['minlength']" i18n>Name must be at least 2 characters long.</small>
                    </div>
                </div>

                <div class="email">
                    <input type="email" placeholder="Your Email" formControlName="email"
                        [ngClass]="{'valid-border': email?.valid && email?.touched, 'error-border': email?.invalid && email?.touched}"
                        [ngStyle]="{'border-color': email?.invalid && email?.touched ? 'red' : null}">
                    <img *ngIf="email?.touched"
                        [src]="email?.valid ? '../../assets/icons/check.png' : '../../assets/icons/error.png'"
                        alt="Validation Icon" class="valid-icon">
                    <div *ngIf="email?.invalid && email?.touched" class="error">
                        <small *ngIf="email?.errors?.['required']" i18n>Your email is required.</small>
                        <small *ngIf="email?.errors?.['email']" i18n>Please enter a valid email address.</small>
                        <small *ngIf="email?.errors?.['strictEmail']" i18n>Please enter a complete email
                            address.</small>
                    </div>
                </div>

                <div class="message">
                    <textarea placeholder="Your Message" formControlName="message"
                        [ngClass]="{'valid-border': message?.valid && message?.touched, 'error-border': message?.invalid && message?.touched}"
                        [ngStyle]="{'border-color': message?.invalid && message?.touched ? 'red' : null}"></textarea>
                    <img *ngIf="message?.touched"
                        [src]="message?.valid ? '../../assets/icons/check.png' : '../../assets/icons/error.png'"
                        alt="Validation Icon" class="valid-icon">
                    <div *ngIf="message?.invalid && message?.touched" class="error">
                        <small *ngIf="message?.errors?.['required']" i18n>Your message is empty.</small>
                        <small *ngIf="message?.errors?.['minlength']" i18n>Message must be at least 10 characters
                            long.</small>
                    </div>
                </div>


                <div class="consent-container">
                    <div class="checkbox-label">
                        <input type="checkbox" id="consentCheckbox" formControlName="consent" />
                        <label for="consentCheckbox" i18n>
                            I've read the <a routerLink="/privacy-policy">privacy policy</a> and agree to the processing of my data as
                            outlined.
                        </label>
                    </div>
                    <div *ngIf="consent?.invalid && consent?.touched" class="error">
                        <small i18n>You must agree to the privacy policy.</small>
                    </div>
                </div>
                <button data-aos-delay="2000" data-aos="fade-up" id="submitButton" [disabled]="contactForm.invalid" [ngClass]="{'active': contactForm.valid}"
                    i18n>
                    Send Message :)
                </button>
            </form>
            <div class="confirmation-message" *ngIf="showConfirmation">
                <p i18n>Your message has been sent successfully!</p>
            </div>
        </div>
        <div class="arrow-up">
            <a href="#"><img src="../../assets/icons/arrow_up.png" alt="Arrow Up"></a>
        </div>
        <div class="contact-shadow">
            <img src="../../assets/icons/33. Purple shadow Footer.png" alt="Shadow">
        </div>
    </div>
</div>