<div class="my-skills section" id="skills">
    <div class="icon-skills">
        <div class="icons"><img src="../../assets/icons/html.png" alt="">HTML</div>
        <div class="icons"><img src="../../assets/icons/css.png" alt="">CSS</div>
        <div class="icons"><img src="../../assets/icons/javascript.png" alt="">javaScript</div>
        <div class="icons"><img src="../../assets/icons/typescript.png" alt="">TypeScript</div>
        <div class="icons"><img src="../../assets/icons/angular.png" alt="">Angular</div>
        <div class="icons"><img src="../../assets/icons/firebase.png" alt="">Firebase</div>
        <div class="icons"><img src="../../assets/icons/git.png" alt="">GIT</div>
        <div class="icons"><img src="../../assets/icons/api.png" alt="">Rest-Api</div>
        <div class="icons"><img src="../../assets/icons/material.png" alt="">Material Design</div>
        <div class="icons continually-learning">
            <img src="../../assets/icons/learning.svg" alt="Learning Icon" class="main-icon">
            <img src="../../assets/icons/group.png" alt="Group Icon" class="overlay-icon">
            <span>Continually learning</span>
        </div>
        
        
    </div>
    <div class="text-skills">
        <div class="row">
            <div class="headline-my-skills">
                My skills
            </div>
            <div>
                <div class="line-in-skills"></div>
            </div>
        </div>
        <div class="under-text-skills">
            <div class="first-under-text-skills">
                I have gained experience in building projects with different frontend technologies and concepts.
            </div>
            <div class="under-text-skills-smaller">
                <div>
                    <div class="second-under-text-skills">
                        Looking for <span class="highlight">another skill</span>?
                    </div>
                    <div class="third-under-text-skills">
                        Feel free to contact me. I look forward to expanding on my previous knowledge.
                    </div>
                </div>
                <div>
                    <button><div class="button-text">Get in touch</div></button>
                </div>
            </div>
        </div>
    </div>
</div>
