<div class="skill-section">
    <div class="section" id="skills">
        <div class="my-skills">
            <div class="responsive-container" data-aos="slide-up">
                <div class="responsive-column">
                    <div class="responsive-headline">
                        My skills
                    </div>
                    <div class="responsive-text" i18n>
                        I have gained experience in building projects with different frontend technologies and concepts.
                    </div>
                </div>
                <div class="over-responsive-line">
                    <div class="responsive-line"></div>
                </div>
            </div>

            <div class="shadow">
                <img src="../../assets/icons/31. Green shadow Skills Portfolio.png" alt="">
            </div>
            <div class="icon-skills" data-aos="slide-right">
                <div class="icons"><img src="../../assets/icons/html.png" alt="">HTML</div>
                <div class="icons"><img src="../../assets/icons/css.png" alt="">CSS</div>
                <div class="icons"><img src="../../assets/icons/javascript.png" alt="">javaScript</div>
                <div class="icons"><img src="../../assets/icons/typescript.png" alt="">TypeScript</div>
                <div class="icons"><img src="../../assets/icons/angular.png" alt="">Angular</div>
                <div class="icons"><img src="../../assets/icons/firebase.png" alt="">Firebase</div>
                <div class="icons"><img src="../../assets/icons/git.png" alt="">GIT</div>
                <div class="icons"><img src="../../assets/icons/api.png" alt="">Rest-Api</div>
                <div class="icons"><img src="../../assets/icons/scrum.png" alt="">Scrum</div>
                <div class="icons"><img src="../../assets/icons/material.png" alt="" i18n>Material Design</div>
                <div class="icons continually-learning learning">
                    <img src="../../assets/icons/learning.svg" alt="Learning Icon" class="main-icon">
                    <img src="../../assets/icons/group.png" alt="Group Icon" class="overlay-icon">
                    <span i18n>Continually learning</span>
                </div>
            </div>
            <div class="text-skills" data-aos="slide-left">
                <div class="row">
                    <div class="headline-my-skills" i18n>
                        My skills
                    </div>
                    <div>
                        <div class="line-in-skills"></div>
                    </div>
                </div>
                <div class="under-text-skills">
                    <div class="first-under-text-skills" i18n>
                        I have gained experience in building projects with different frontend technologies and concepts.
                    </div>
                    <div class="under-text-skills-smaller">
                        <div class="responsive-lower">
                            <div class="second-under-text-skills" i18n>
                                Looking for <span class="highlight">another skill</span>?
                            </div>
                            <div class="third-under-text-skills" i18n>
                                Feel free to contact me. I look forward to expanding on my previous knowledge.
                            </div>
                        </div>
                        <div data-aos-delay="1000" data-aos="fade-up">
                            <a href="#contact"><button>
                                    <div class="button-text" i18n>Get in touch</div>
                                </button></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>