<div class="portfolio-section">
    <div class="portfolio section" id="portfolio">
        <div class="shadow-portfolio">
            <img src="../../assets/icons/32 Purple shadow portfolio.png" alt="Shadow Background">
        </div>
        <div class="headline-portfolio">
            <div class="left-headline"></div>
            <div class="headline" i18n>Portfolio</div>
            <div class="right-headline"></div>
        </div>
        <div class="text-under-headline"><span i18n>Explore a selection of my work here - Interact with projects to see
                my skills
                in action.</span></div>

        <div class="large-container" data-aos="slide-left">
            <div class="inner-container">
                <div class="right-inner"><img src="../../assets/icons/join1.png" alt=""></div>
                <div class="left-inner">
                    <div class="text-position">
                        <div class="first">Join</div>
                        <div class="second">Angular | TypeScript | HTML | CSS | Firebase</div>
                        <div class="third" i18n>Task manager inspired by the Kanban System. Create and organize tasks
                            using drag
                            and drop functions, assign users and categories.</div>
                    </div>
                    <div class="button-section" data-aos-delay="500" data-aos="fade-up">
                        <a class="href" href="/join" target="_blank"><button class="purple">Live test</button></a>
                        <a class="href-2" href="https://github.com/SamuelZacharias/join" target="_blank"><button
                                class="none">Github</button></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="large-container align-center-left" data-aos="slide-right">
            <div class="inner-container">
                <div class="left-inner">
                    <div class="text-position">
                        <div class="first headline-pollo">El Pollo Loco</div>
                        <div class="second headline-pollo">JavaScript | HTML | CSS</div>
                        <div class="third" i18n>A simple Jump-and-Run game based on an object-oriented approach. Help
                            Pepe to
                            find coins and bottles to fight against the boss chicken.</div>
                    </div>
                    <div class="button-section-pollo" data-aos-delay="500" data-aos="fade-up">
                        <a class="href" href="/polloloco" target="_blank"><button class="purple">Live test</button></a>
                        <a class="href-2" href="https://github.com/SamuelZacharias/el-pollo-loco" target="_blank"><button
                                class="none">Github</button></a>
                    </div>
                </div>
                <div class="right-inner"><img src="../../assets/icons/loco.png" alt=""></div>
            </div>
        </div>
        <div class="large-container" data-aos="slide-left">
            <div class="inner-container">
                <div class="right-inner"><img src="../../assets/icons/dex.png" alt=""></div>
                <div class="left-inner">
                    <div class="text-position">
                        <div class="first">Pokédex</div>
                        <div class="second">JavaScript | HTML | CSS | Api</div>
                        <div class="third" i18n>Based on the PokéAPI a simple library that provides and catalogues
                            pokemon
                            information.</div>
                    </div>
                    <div class="button-section" data-aos-delay="500" data-aos="fade-up">
                        <a class="href" href="/pokedex" target="_blank"><button class="purple">Live test</button></a>
                        <a class="href-2" href="https://github.com/SamuelZacharias/pokedex" target="_blank"><button
                                class="none">Github</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>