<div class="hero-section">
  <div class="hero-desktop">
    <div class="column">
      <div class="hero-text">
        <div class="intro">
          <p i18n="hero.intro">Privacy</p>
        </div>
        <div class="name-title">
          <div class="name">
            <h1 i18n="hero.name">Policy</h1>
          </div>
          <div class="subtitle">
            <span i18n="hero.subtitle">Your Data, Your Control</span>
          </div>
        </div>
      </div>
      <div class="content">
        <h2 i18n="content.title">Privacy Policy</h2>
        <p i18n="content.lastUpdated">Last updated: July 20, 2024</p>
        <p i18n="content.description">
          This Privacy Policy describes our policies and procedures on the collection, use, and disclosure of your
          information when you use our service. It also informs you about your privacy rights and how the law protects
          you.
        </p>
        <p i18n="content.improveService">
          We use your personal data to provide and improve the service. By using the service, you agree to the
          collection and use of information in accordance with this Privacy Policy.
        </p>

        <h2 i18n="definitions.title">Definitions</h2>
        <p i18n="definitions.description">For the purposes of this Privacy Policy:</p>

        <h2 i18n="personalData.title">Collecting and Using Your Personal Data</h2>
        <h3 i18n="personalData.types.title">Types of Data Collected</h3>
        <ul>
          <li i18n="personalData.types.email">Email address</li>
          <li i18n="personalData.types.name">First and last name</li>
          <li i18n="personalData.types.usage">
            Usage data, including browser type, device details, and interaction with the service
          </li>
        </ul>

        <h3 i18n>Use of Your Personal Data</h3>
        <ul>
          <li i18n>To provide and maintain our service</li>
          <li i18n>To manage your account</li>
          <li i18n>To contact you regarding updates or changes</li>
          <li i18n>To analyze how our service is used</li>
        </ul>

        <h2 i18n>Retention of Your Personal Data</h2>
        <p i18n>
          We will retain your data only as long as necessary for the purposes outlined in this policy or to comply
          with legal obligations.
        </p>

        <h2 i18n>Children's Privacy</h2>
        <p i18n>
          Our service does not address anyone under the age of 13. If you believe your child has provided personal
          data, please contact us.
        </p>

        <h2 i18n>Contact Us</h2>
        <p i18n>
          If you have any questions about this Privacy Policy, you can contact us at
          <a href="mailto:support&#64;portfolio.com">info&#64;samuelzacharias.com</a>.
        </p>
        <div class="end">
          <a class="downBack" routerLink="/">
            <img src="./assets/icons/arrow_back.png" alt="" class="normal-image">
            <img src="./assets/icons/arrow_back2.png" alt="" class="hover-image">
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
