<div class="content-legal-notice">
    <div class="headline">
        <h1 i18n="headline.title"><span class="highlight">L</span>egal Notice</h1>
        <a class="topBack" routerLink="/">
            <img src="./assets/icons/arrow_back.png" alt="" class="normal-image">
            <img src="./assets/icons/arrow_back2.png" alt="" class="hover-image">
        </a>
    </div>

    <div>
        <div class="imprint">
            <h2 i18n="imprint.title">Imprint</h2>
            <ul>
                <li i18n="imprint.name">Samuel Zacharias</li>
                <li i18n="imprint.address.line1">Hauptstraße 12</li>
                <li i18n="imprint.address.line2">29362 Hohne</li>
            </ul>
        </div>
        <div>
            <div class="flex-container">
                <h2 i18n="terms.title">Acceptance of terms</h2>
                <div class="divider end"></div>
            </div>
            <span i18n="terms.description">
                By accessing and using this Portfolio (the "Product"), you
                acknowledge and agree to the following terms and conditions, and any
                policies, guidelines, or amendments thereto that may be presented to
                you from time to time. I, Samuel Zacharias, may update or change
                the terms and conditions from time to time without notice.
            </span>

            <div class="flex-container">
                <div class="divider start"></div>
                <h2 i18n="scope.title">Scope and ownership of the product</h2>
            </div>
            <div class="right">
                <span i18n="scope.description">
                    This Portfolio was developed as part of a personal project during a
                    web development bootcamp at the Developer Akademie GmbH. It serves an educational purpose
                    and is not intended for extensive personal or business use. As such, I cannot guarantee
                    consistent availability, reliability, accuracy, or any other aspect
                    of quality regarding this Product. <br><br> The design of this Portfolio is owned by
                    the Developer Akademie GmbH. Unauthorized use, reproduction,
                    modification, distribution, or replication of the design is strictly
                    prohibited.
                </span>
            </div>
            <div class="flex-container">
                <h2 i18n="rights.title">Proprietary rights</h2>
                <div class="divider end"></div>
            </div>
            <span i18n="rights.description">
                Aside from the design owned by the Developer Akademie GmbH, I retain all
                proprietary rights in this Portfolio, including any associated copyrighted
                material, trademarks, and other proprietary information.
            </span>

            <div class="flex-container">
                <div class="divider start"></div>
                <h2 i18n="use.title">Use of the product</h2>
            </div>
            <div class="right">
                <span i18n="use.description">
                    This Portfolio is intended to be used for lawful purposes only, in
                    accordance with all applicable laws and regulations. Any use of this Portfolio
                    for illegal activities, or to harass, harm, threaten, or intimidate
                    another person, is strictly prohibited. You are solely responsible
                    for your interactions with other users of this Portfolio.
                </span>
            </div>

            <div class="flex-container">
                <h2 i18n="disclaimer.title">Disclaimer of warranties and limitation of liability</h2>
                <div class="divider end"></div>
            </div>
            <span i18n="disclaimer.description">
                This Portfolio is provided "as is"
                without warranty of any kind, whether express or implied, including
                but not limited to the implied warranties of merchantability,
                fitness for a particular purpose, and non-infringement. In no event
                will I, Samuel Zacharias, or the Developer Akademie, be liable
                for any direct, indirect, incidental, special, consequential or
                exemplary damages, including but not limited to, damages for loss of
                profits, goodwill, use, data, or other intangible losses, even if I
                have been advised of the possibility of such damages, arising out of
                or in connection with the use or performance of this Portfolio.
            </span>

            <div class="flex-container">
                <div class="divider start">
                </div>
                <h2 i18n="indemnity.title">Indemnity</h2>
            </div>
            <div class="right">
                <span i18n="indemnity.description">
                    You agree to indemnify, defend and hold harmless me, Samuel Zacharias, the Developer
                    Akademie,
                    and its affiliates, partners, officers, directors, agents, and employees,
                    from and against any claim, demand, loss, damage, cost, or liability (including
                    reasonable legal fees) arising out of or relating to your use of
                    this Portfolio and/or your breach of this Legal Notice.
                </span>
            </div>
            <br>
            <span i18n="contact.notice">For any questions or notices, please contact me at info&#64;samuelzacharias.com.</span>
            <br>
            <div class="last-div">
                <span i18n="date">Date: December 02, 2024</span>
                <a class="downBack" routerLink="/">
                    <img src="./assets/icons/arrow_back.png" alt="" class="normal-image">
                    <img src="./assets/icons/arrow_back2.png" alt="" class="hover-image">
                </a>
            </div>
        </div>
    </div>
</div>
