<div class="section-footer">
    <div class="footer">
        <div class="hero-legal">
            <a href="https://samuelzacharias.com">
                <div class="hero">Samuel</div>
            </a>
            <div class="legal">
                <a routerLink="/legal-notice" i18n>Legal Notice</a>
            </div>
        </div>
        <div class="brand">© Samuel Zacharias 2024</div>
        <div class="links">
            <a href="https://github.com/SamuelZacharias" target="_blank">
                <div class="icon"><img src="../../../assets/icons/github.png" alt=""></div>
            </a>
            <a href="mailto:info@samuelzacharias.com">
                <div class="icon"><img src="../../../assets/icons/email.png" alt=""></div>
            </a>
            <a href="https://www.linkedin.com/in/sam-zacharias-5458a7337/" target="_blank">
                <div class="icon"><img src="../../../assets/icons/linked.png" alt=""></div>
            </a>
        </div>
        <div class="legal2">
            <a routerLink="/legal-notice" i18n>Legal Notice</a>
        </div>
    </div>
</div>