<div class="footer">
    <div class="hero-legal">
        <a href="#"><div class="hero">Samuel</div></a>
        <div class="legal">
            <a href="#">Legal Notice</a>
        </div>
    </div>
    <div class="brand">© Samuel Zacharias 2024</div>
    <div class="links">
        <a href="#"><div class="icon"><img src="../../../assets/icons/github.png" alt=""></div></a>
        <a href="#"><div class="icon"><img src="../../../assets/icons/email.png" alt=""></div></a>
        <a href="#"><div class="icon"><img src="../../../assets/icons/linked.png" alt=""></div></a>
    </div>
</div>